.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: blue;
    &__inner {
      width: 500px;
      background-color: blue;
      color: blue;
      display: flex;
      align-items: center;
      height: 300px;
      justify-content: space-between;
      border: 2px solid green;
    }
    &--show {
      display: flex;
    }
  }


  .modal__inner:hover {
      background-color: black;
      color: green;
      transition: ease 1.2s; 
    
    }
  
    .modal__heading {
        margin-left: 80px;
        margin-bottom: 40px;

    }

    .modal__p {
        padding: 15px;
    }
  
    .modal__close--btn {
    margin-bottom: auto;
    width: 30px;
    height: 20px;
    background-color: black;
    color: green;
    border: 2px solid green;
  }
  body {
    background-color: blue;
  }
  