.open-button {
    background-color: black;
    color: red;
    border-color: blue;
    width: 150px;
    height: 35px;
    cursor: pointer; 
    margin-left: 570px;  
}

.open-button:hover {
    background-color: grey;
    color: black;
    border-color: red;
    
}